<form [formGroup]="form" (ngSubmit)="change()">

 
    <label for="oldPassword">Old Password</label>

    <input formControlName="oldPassword" id="oldPassword" type="text" class="form-control">

    <div *ngIf="oldPassword.pending">Checking password</div>

    <div *ngIf="oldPassword.touched && oldPassword.errors?.required" class="alert alert-danger">Old password is required.</div>

    <div *ngIf="!oldPassword.pending && oldPassword.errors?.checkOldPassword" class="alert alert-danger"> Can not use old password.</div>
  
<!-- 
    <label for="newPassword">New Password</label>
    <input formControlName="newPassword" id="newPassword" type="text" class="form-control">
    <div *ngIf="newPassword.touched" class="alert alert-danger">
      <div *ngIf="newPassword.errors">New password is required.</div>
    </div>

    <label for="confirmPassword">Confirm Password</label>
    <input formControlName="confirmPassword" id="confirmPassword" type="text" class="form-control">
    <div *ngIf="confirmPassword.touched" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors">Confirm password is required.</div>
      <div *ngIf="confirmPassword.errors" class="alert alert-danger">Password doesn't match.</div>
    </div> -->


  <button class="btn btn-primary btn-change" type="submit">Change Password</button>

</form>