<h1>
  {{ title }}
</h1>

<input type="text" (keyup.enter)="add(course)" #course>

<ul *ngIf="author$ | async as author">
  <li>{{ author.name }}</li>
  <li>{{ author.students }}</li>
  <li>{{ author.isPremium }}</li>
</ul>

<!-- <h1>{{ (article | async)?.game?.title }} Review:</h1> -->

<!-- <button (click)="ngOnDestroy()">Go Offline</button> -->
<!-- 
<ul>
  <li *ngFor="let course of courses$ | async">{{ course }}</li>
</ul>

<p>{{ course$ | async | json }}</p>

<p>{{ author$ | async | json }}</p> -->
